* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #000;
}

header .logo img {
    height: 150px;
    justify-self: center;
}
